img{border:0}
.fn_wrap{width:960px;margin:0 auto}
.fn_f11{font-size:11px !important}
.fn_gryTxt{color:#ada6ad}
.fn_navBg{height:66px;background: #9e9e9e; /* Old browsers */
background: -moz-linear-gradient(top,  #9e9e9e 0%, #6d6d6d 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9e9e9e), color-stop(100%,#6d6d6d)); /* Chrome,Safari4+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9e9e9e', endColorstr='#6d6d6d',GradientType=0 ); /* IE6-9 */}
.fn_nav a{background:#fff;padding:3px 10px;-webkit-border-top-left-radius:5px;-webkit-border-top-right-radius: 5px;-moz-border-radius-topleft: 5px;-moz-border-radius-topright:5px;text-decoration:none;display:inline-block;float:left;color:#005caf;font-size:13px;margin:33px 5px 0 0;_margin:33px 5px 0 0;border:1px solid #585858;border-bottom:none;line-height:25px;background: #fbfbfb; /* Old browsers */
background: -moz-linear-gradient(top,  #fbfbfb 0%, #fbfbfb 46%, #ececec 46%); /* FF3.6+ */
-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright:5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;font-weight:bold}

.fn_nav a.sel{background:#fff !important;color:#4c4c4c;font-size:15px; font-weight:bold;top:30px;line-height:26px;margin:25px 5px 0 0!important;padding:7px 10px}
.fn_errIcn,.fn_confIcn,.fn_jobUnsel,.fn_campusSel,.fn_rightArr,.fn_twit,.fn_fb,.fn_campusUnsel,.fn_phone,.fn_empUnsel,.fn_jobSel,.fn_flog,.fn_dropWhite,.fn_dropBlk,.fn_userPic,.fn_empSel{background:transparent url(../images/fn_navIcons_v3.png) no-repeat 0 0;}
.fn_userPic{background-position:0 -61px;width:20px; height:20px;display:inline-block;float:left;}
.fn_dropWhite{background-position:-11px -47px;width:11px; height:7px;display:inline-block;float:left;}
.fn_dropBlk{background-position:0 -48px;width:11px; height:5px;display:inline-block;float:left;}
.fn_flog{background-position:0 -125px;width:72px; height:25px;display:inline-block;float:left;}
.fn_jobSel{background-position:0 0; float:left;width:20px; height:26px;display:inline-block;margin-right:5px}
.fn_jobUnsel{background-position:-25px 0; float:left;width:19px; height:24px;display:inline-block;margin-right:10px}
.fn_campusUnsel{background-position:-56px -58px; float:left;width:24px; height:23px;display:inline-block;margin-right:5px}
.fn_campusSel{background-position:-57px -32px; float:left;width:24px; height:23px;display:inline-block;margin-right:5px}
.fn_empUnsel{background-position:-24px -57px; float:left;width:19px; height:24px;display:inline-block;margin-right:10px}
.fn_empSel{background-position:-23px -31px; float:left;width:20px; height:24px;display:inline-block;margin-right:8px}
.fn_phone{background-position:-51px 0; float:left;width:28px; height:28px;display:inline-block;margin-right:10px}
.fn_posR{position:relative}
.fn_posA{position:absolute}	
.fn_login{margin-left:70px}
.fn_login span{display:block;color:#fff;font-weight:bold;margin:20px 0 2px 0}
.fn_login a{color:#fff;font-size:13px;margin-left:4px; text-decoration:underline}
.fn_login  p{margin:0!important;margin-left:2px;float:left!important}
.fn_login  a:hover{color:#fff}
.fn_login  form input{margin:0}
.fn_w130{width:130px}
.fn_mR5{margin-right:2px!important}
.fn_logBtn{height:21px; vertical-align:bottom; border:1px solid #666; margin-left:2px;background:#fdfdfd;font-size:11px;cursor:pointer;padding-left:0;padding-right:0; float:none;text-align:center;width:40px;font-weight:normal;color:#000;border-width:1px 2px}
:root .fn_logBtn{height:20px \0/;}
.fn_logBtn:hover{border-width:2px 1px}
.fn_logBtnInpt{margin:0; padding:3px 2px 2px; border:1px solid #fff; vertical-align:bottom}
.fn_helpline{float:left}
.fn_helpline li.head{font-weight:bold; font-size:15px; color:#000!important;padding:0}
.fn_helpline li{display:block;color:#676767}
.fn_helpline li i{font-style:normal;color:#000!important}
.fn_mt15{margin-top:15px!important}
.fn_yellBand{-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;background: #fee65a; /* Old browsers */background: -moz-linear-gradient(top, #fee65a 0%, #ffe865 100%); /* FF3.6+ */background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fee65a), color-stop(100%,#ffe865)); /* Chrome,Safari4+ */ margin:10px 0 0 0;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;border-radius:5px;border-bottom:2px solid #ebebeb;overflow:hidden;width:100%}  
.fn_yellBand a{display:inline-block;padding:15px;color:#000; text-decoration:none;border:2px solid #FEE65A;border-left:2px solid #F4DD58;color:#4f4f4d;float:left;border-bottom:0}
.fn_yellBand em{position:absolute;font-size:11px;top:2px;font-style:normal;right:0}
.fn_free{position:relative;margin:0 10px 0 0}
.fn_yellBand a.sel{font-weight:bold;color:#000}
.fn_yellBand a.layerSel{background:#fff;color:#000;border:2px solid #FEE65C;border-bottom:0}

.fn_yellBand span{text-align:center;margin:5px 0 0 0;height:4px;display:block}
.fn_ovrH{overflow:hidden}
.fn_bdrNo{border:none!important}
.fn_clr{clear:both}
.fn_ml20{margin:0 0 0 20px}
/*footer starts*/
.fn_foot{padding:30px 10px}
.fn_footBg{background: #828282; /* Old browsers */
background: -moz-linear-gradient(top,  #828282 1%, #9f9f9f 7%, #797979 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#828282), color-stop(7%,#9f9f9f), color-stop(100%,#797979)); /* Chrome,Safari4+ */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#828282', endColorstr='#797979',GradientType=0 ); /* IE6-9 */;clear:both;overflow:hidden}
.fn_foot ul li{float:left; width:135px;padding-left:20px}
.fn_p0{padding:0!important}
.fn_foot ul,.fn_foot ul li{margin:0; padding:0}
.fn_foot ul li{float:left; width:135px;padding-left:20px}
.fn_foot ul li.clr{float:none;}
.fn_foot ul li h3{font-weight:bold;font-size:12px;padding:0 0 5px 0;background:none;text-indent:0!important;border:none}
.fn_foot ul li a{display:block;border-bottom:1px solid #bababa; font-size:11px; color:#fff;text-decoration:none;line-height:28px}
.fn_foot ul li a:hover{background:#a7a6a6}
.fn_footMore{background: #ffffff; /* Old browsers */background: -moz-linear-gradient(top,  #ffffff 47%, #eeeeee 50%); /* FF3.6+ */background: -webkit-gradient(linear, left top, left bottom, color-stop(47%,#ffffff), color-stop(50%,#eeeeee)); /* Chrome,Safari4+ */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */-webkit-border-radius:3px;-moz-border-radius:3px;margin:10px 0 0 0;color:#000!important;padding:2px 5px;width:auto!important;border:1px solid #c4c2c4;display:inline-block;float:left;line-height:15px!important;}
.fn_footMore span{float:left;display:inline-block}
.fn_footMore span,.footMore em{cursor:pointer}
.fn_rightArr{background-position:-75px -88px;width:3px; height:6px;display:inline-block;margin:0 10px;height:12px}
.fn_twit{background-position:0 -81px;width:29px; height:23px;display:inline-block;margin:0 0 0 9px!important;float:left}
.fn_fb{background-position:0 -104px;width:80px; height:17px;display:inline-block}
.fn_fbCont{-webkit-border-radius:3px;-moz-border-radius:3px;background:#f0f0f0;float:right;width:425px;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;margin:10px 0;clear:both;overflow:hidden;width:52%}
.fn_fbTxt span{display:block;font-weight:bold}
.fn_fbTxt  a{display:inline-block;float:left;margin:5px 0;text-decoration:none!important;color:#000;font-size:13px}
.fn_fbTxt  a:hover{color:#000!important;text-decoration:none!important}
.fn_dispIn{display:inline-block}
.fn_mR30{margin:0 30px 0 0}
.fn_fR{float:right}
.fn_fL{float:left}
.fn_mt50{margin-top:50px}
.fn_bdrOrng{border-bottom:2px solid #f6eba9}
.fn_postLogin{background: #a3a3a3; /* Old browsers */background: -moz-linear-gradient(top,  #a3a3a3 1%, #979797 46%, #787878 90%); /* FF3.6+ */background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#a3a3a3), color-stop(46%,#979797), color-stop(90%,#787878)); /* Chrome,Safari4+ */background: -webkit-linear-gradient(top,  #a3a3a3 1%,#979797 46%,#787878 90%); /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(top,  #a3a3a3 1%,#979797 46%,#787878 90%); /* Opera 11.10+ */background: -ms-linear-gradient(top,  #a3a3a3 1%,#979797 46%,#787878 90%); /* IE10+ */background: linear-gradient(top,  #a3a3a3 1%,#979797 46%,#787878 90%); /* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a3a3a3', endColorstr='#787878',GradientType=0 ); /* IE6-9 */padding:4px 5px;}
.fn_recomnd{color:#fff;font-size:13px;display:inine-block;}
.fn_recomnd a{text-decoration:underline!important;color:#fff!important}
.fn_user{color:#fff; font-size:13px;line-height:20px;}
.fn_user em{display:inline-block;font-style:normal}
.fn_mt8{margin-top:10px!important}
.fn_user a{color:#fff;text-decoration:none;margin:0 8px;display:inline-block;float:left}
.fn_user span{color:#b0b0b0;font-size:14px; font-weight:bold}
.fn_mr10{margin-right:10px}
.fn_or{background:url(../images/fn_or.png) 0 4px;width:14px; height:45px;display:inline-block;float:left;margin:10px 0 0 5px}
.fn_postSel{background:#fff;margin:0!important;z-index:1; border:1px solid #000; border-bottom:0;position:absolute;right:0;top:1px}
.fn_postSelL{position:absolute;background:#fff;border:1px solid #000;z-index:0;display:none;}
.fn_postSelL a{padding:1px;font-size:12px;color:#000;display:block; padding:2px 12px}	
.fn_p10{padding:10px}
.fn_errIcn{background-position:-44px -151px;width:35px; height:35px;display:inline-block;float:left;}
.fn_errBand{background:#fed1d1;overflow:hidden;width:100%;font-size:13px;margin:15px 0}
.fn_errBand span{float:left;display:inline-block;margin:10px;font-weight:bold}
.fn_confIcn{background-position:0 -150px;width:39px; height:38px;display:inline-block;float:left;}
.fn_confBand{background:#e7fcdb;overflow:hidden;width:100%;font-size:13px;margin:15px 0;border:1px solid #D0ECC3}
.fn_confBand span{float:left;display:inline-block;margin:10px}
.fn_prepTest{position:absolute;background:#fff;border:2px solid #fee65c; border-top:0;line-height:17px;z-index:999}
.fn_prepTest li{padding:0 16px; margin:5px 0}
.fn_prepTest li a{text-decoration:none;}
.fn_prepTest li a:hover{text-decoration:underline}
.fn_mt20{margin-top:20px}
.fn_fbBg{background:#fff; border:1px solid #ccc}
.fn_white{color:#fff}
.fn_bold{font-weight:bold}
.fn_mt25{margin-top:25px!important}
.fn_f13{font-size:13px}
.fn_f18B{font-size:18px;font-weight:bold}
.fn_txtR{text-align:right}
.fn_ml30{margin:0 0 0 30px}
.fn_mt5{margin-top:5px}
.fn_ptb7{margin:7px 0}
.fn_mt100{margin-top:100px}
.ht100{height:100px}
.f18{font-size:18px}
.fn_mb20{margin:0 0 20px 0}
.fn_errMsg{color:red;padding:10px;margin:10px}
/*recruiter navigation*/
.Rec_yellBand{-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;background: #fee65a; /* Old browsers */background: -moz-linear-gradient(top, #fee65a 0%, #ffe865 100%); /* FF3.6+ */background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fee65a), color-stop(100%,#ffe865)); /* Chrome,Safari4+ */ margin:10px 0 0 0;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;border-radius:5px;-moz-box-shadow: 2px 2px #e5e5e5;-webkit-box-shadow:2px 2px #e5e5e5;overflow:hidden;width:100%}  
.Rec_yellBand a{display:inline-block;padding:15px 10px;color:#000; text-decoration:none;border-left:2px solid #f4dd58;color:#4f4f4d;float:left;}
.Rec_yellBand em{position:absolute;font-size:11px;top:2px;font-style:normal}
.fn_free{position:relative;margin:0 10px 0 0}
.Rec_yellBand a.selH{font-weight:bold;color:#000}
.Rec_yellBand a.sel{font-weight:bold;background:#fff;padding:15px 10px;color:#000;border:1px solid #fde75e;border-bottom:none }
.Rec_yellBand span{text-align:center;margin:5px 0 0 0;height:4px;display:block}
.navArr {width: 0; 	height: 0; 	border-left:4px solid transparent;	border-right: 4px solid transparent;border-top: 4px solid #736e50}
.Rec_yellBand a span{display:inline-block;margin:0 4px; height:2px; line-height:2px;color:#736e50}
.Rec_prepTest{position:absolute;background:#fff;border:1px solid #fde75e;border-top:none;padding:5px 10px 10px 10px}
.Rec_prepTest li{border:none;padding:0 10px 5px 0}
.Rec_prepTest li a{text-decoration:none;display:block;padding:0}
.Rec_prepTest li a:hover{text-decoration:underline}
.fn_rights{color:#fff;text-align:center; font-size:11px;margin:10px 0}
.fn_pL5{padding-left:5px!important}
.fn_arw_nav{width: 0; 	height: 0; 	border-left: 5px solid transparent;	border-right: 5px solid transparent;	display:inline-block;	margin:0 0 0 5px;
	border-top:5px solid #000;}
.red{color:red}
.fnRFoot{border-top:2px solid #CCC; clear:both; overflow:hidden;}
.fnCdmFoot{text-align:center; margin: 20px 0 10px; color:#bfc1bf;}
.fnCdmFoot a {color: #000;}
.fnCdmFoot a:hover{ text-decoration:underline;}
.fnRFoot .fn_rights{color: #817B7B;}
.rowSuggestor .f12{font-size:12px!important;}
.rowSuggestor .w120{width:120px!important;}
.user_type_links, .customer_care_contact, .mob_navbar, #triggerNav {display: none;}
@font-face {font-family: 'FirstNaukri_Campus'; src: url('../../s/3/304/fonts/FirstNaukri_Campus.eot'); src: local('☺'), url('../../s/3/304/fonts/FirstNaukri_Campus.woff') format('woff'), url('../../s/3/304/fonts/FirstNaukri_Campus.ttf') format('truetype'), url('../../s/3/304/fonts/FirstNaukri_Campus.svg') format('svg'); font-weight: normal; font-style: normal;}
.open_login_lb.fn_jobseeker_login_btn { background: #09c; font-size: 14px; color: #fff; border: none; position: relative; padding: 5px 10px; cursor: pointer; border-radius: 3px; float: right !important; margin-top: 20px; }
.open_login_lb.fn_jobseeker_login_btn .login_lb_icon:before { font-family: "FirstNaukri_Campus"; color: #fff; content: "p"; font-size: 18px; }